<div>
    <md-tabs>
        <md-tab label="<span class='fa fa-arrow-circle-o-down'></span>">
            <md-content class="md-padding">
                <tags-list-filtered tags="expenses"/>
            </md-content>
        </md-tab>      
            
        <md-tab label="<span class='fa fa-arrow-circle-o-up'></span>">
            <md-content class="md-padding">
                <tags-list-filtered tags="incomes"/>
            </md-content>
        </md-tab>      
    </md-tabs>
            
</div>