<div ng-show="tags.length < 1 && tags.$pending.length < 1">
    There is nothing to show yet. <br/>
    New tags can be added when you log your incomes and expences.
</div> 
<table class="tm-table tags-list" ng-show="tags.length > 0">

        <tr ng-repeat="tag in tags" ng-class="{'edit-mode': tag.$isEdited}">
            
            <td class="text-widget">
                <div class="text-input">
                    <md-input-container>
                        <input focus-when="tag.$isEdited" ng-model="tag.text" type="text" placeholder="{{tag.text}}" on-enter="editTag(tag)" />
                    </md-input-container>        
                </div>                    
                <span class="text-display">{{tag.text}}</span>
            </td>
            <td>
                <span>
                </span>
                
                <span>
                </span>
                <md-button class="md-raised"
                           aria-label="edit {{tag.text}}"
                           ng-click="editTag(tag)">
                    <span class="fa fa-pencil"></span>
                    <span class="fa fa-check"></span>
                </md-button>
                <md-button class="md-raised md-warn"
                           aria-label="delete {{tag.text}}"
                           ng-hide="tag.$isEdited"
                           ng-click="deleteTag(tag)">
                    <span spinner-when="tag.$isDeleting">
                        <span class="fa fa-remove"></span>
                    </span>
                </md-button>                
            </td>

        </tr>
    </table>