<md-dialog aria-label="Datepicker">
    <md-content class="sticky-container" style="padding: 0;">
<!--        <md-subheader class="md-sticky-no-effect">Datepicker</md-subheader>-->
        <div class="dialog-content">

            <time-date-picker ng-model="lbDatepickerModel" display-mode="date" on-cancel="cancel()" on-save="hide()"></time-date-picker>

        </div>
    </md-content>
<!--
    <div class="md-actions" layout="row">
        <md-button ng-click="answer('not useful')">Not Useful</md-button>
        <md-button ng-click="answer('useful')" class="md-primary">Useful</md-button>
    </div>
-->
</md-dialog>