<md-content class="md-padding">
    <p>
        <strong>Жабометр</strong> &mdash; приложение для учёта и анализа доходов и расходов. Ну, как "анализа", например, вы можете вывести на пару графиков интересующие статьи расходов, чтобы сравнить, на что больше тратите.
    </p>


    <div ng-hide="auth.isLogged">
        <p>
            Для работы нужно зарегистрироваться. Только логин и пароль, просто чтобы было с чем сопоставить ваши данные.
        </p>
        <md-button ui-sref="public.login" class="md-raised md-primary">Вход</md-button>
        <md-button ui-sref="public.reg" class="md-raised">Регистрация</md-button>
    </div>

</md-content>    
    