<form name="transaction_form" class="transaction-edit">

<div layout="row">
    <div flex-gt-md="50" flex-gt-sm="75" flex-sm>
<!--    <div style="width: 10em">-->
        <md-content class="md-padding">
            <div layout="row" layout-sm="column">
                <div class="sum-input">
                    <md-input-container>
                        <label>Число</label>
                        <input ng-model="transaction.size" type="text" placeholder="число" ng-pattern="/\d+/" required/>
                    </md-input-container>
                    
                    <tm-numpad></tm-numpad>
                     
<!--                    date: {{transaction.date | date:'dd.MM.yy'}}-->
                </div>  
                <div class="date-input">
                    
                    <div layout="row" layout-align="center center">
                        <md-button type="button" aria-label="yesterday"
                                   ng-class="{'md-accent': datetype === 'yesterday'}"
                                   ng-click="setDate('yesterday')">Вчера</md-button>
                        <md-button type="button" aria-label="today"
                                   ng-class="{'md-accent': datetype === 'today'}"
                                   ng-click="setDate('today')" >Сегодня</md-button>
                        <md-button type="button" aria-label="other date"
                                   ng-class="{'md-accent': datetype === 'select'}"
                                   ng-click="datepicker = !datepicker">
                            {{getSelectDateText()}}
                        </md-button>
                    </div>
                    <div ng-show="datepicker">
                        <time-date-picker ng-model="transaction.date" 
                                          display-mode="date" 
                                          on-cancel="datepicker = false" 
                                          on-save="setDate('select')"></time-date-picker>
                    </div>
                </div>
            </div>            
        </md-content>
        
        <md-divider></md-divider>
        
        <md-content class="md-padding">
            <input type="hidden" ng-model="transaction.tag" required />
            <md-button class="" 
                       type="button"
                       ng-class="{'md-accent': transaction.tag === tag.id}"
                       ng-repeat="tag in tags" 
                       ng-click="transaction.tag = tag.id">{{::tag.text}}</md-button>
        </md-content>
        <md-content style="position: relative; padding-right: 50px; width: 30rem">
            <md-input-container flex>
                <label>...или введите текст новой метки</label>
                <input ng-model="newTagText" type="text" placeholder="текст" on-enter="addTag()" />
            </md-input-container>        
            <div style="position: absolute; top: 28px; right: 0">
                <md-button aria-label="Добавить метку" 
                           ng-disabled="!newTagText || newTagText.length < 1"
                           ng-click="addTag()">
                    <span class="fa fa-check"></span>
                </md-button>
            </div>
<!--            <tag-edit-form label="...или введите текст новой метки"/>-->
        </md-content>
        
        <md-divider></md-divider>
        
    </div>
</div>


    
<md-content layout="row" class="md-padding buttons" style="overflow: visible">
    <md-button ng-click="save()" 
               aria-label="save"
               ng-disabled="transaction_form.$invalid || datepicker"
               class="md-primary md-raised">
        <span ng-show="transaction_form.$invalid">
            <md-tooltip style="margin-top: -30px;">Нужно указать сумму и метку</md-tooltip>
        </span>
        <span spinner-when="is.saving"><span class="fa fa-check"></span></span>
    </md-button>
    <md-button ng-click="remove()" 
               aria-label="delete"
               ng-if="::transaction.id"
               class="md-warn md-raised">
        <span spinner-when="is.deleting"><span class="fa fa-trash"></span></span>
    </md-button>    
</md-content>



</form>    