<form name="import_form" class="transaction-import">

<!--
    <div layout="row">
        <md-radio-group ng-model="format" required>
              <md-radio-button value="toshl" class="md-primary">Toshl</md-radio-button>
        </md-radio-group>
    </div>    
-->

    
    <div layout="column">
        <div style="margin-bottom: 1rem;" class="note">
            You can upload CSV file here. 
            <br/>
            Incomes/expenses with matching date, size and tag will be considered same and ignored.
            <br/>
            Currently only "toshl finance" app csv format is supported.
        </div>        
        <div>
            <md-button type="button" class="md-raised" ngf-select ng-model="files"> {{files.length ? files[0].name : 'Select file'}}</md-button>
        </div>
<!--        <div class="note">(currently only <strong>Toshl finance</strong> CSV format is supported)</div>-->
    </div>
    
    <div layout="row" 
         ng-show="message" 
         ng-class="{error: error}"
         style="margin: 1rem 0;">
        {{message}}
    </div>   
    
<!--
    <div layout="row">
        <md-button
            ng-disabled="!(format && files.length)"
           class="md-primary md-raised"
            type="submit">
            OK
        </md-button>    
    </div>
-->

</form>
  