<div class="numpad">
    <div class="numpad-row">
        <md-button class="md-raised" type="button" ng-click="appendDigit(1)" tabindex="-1">1</md-button>
        <md-button class="md-raised" type="button" ng-click="appendDigit(2)" tabindex="-1">2</md-button>
        <md-button class="md-raised" type="button" ng-click="appendDigit(3)" tabindex="-1">3</md-button>
    </div>
    <div class="numpad-row">
        <md-button class="md-raised" type="button" ng-click="appendDigit(4)" tab-index="-1">4</md-button>
        <md-button class="md-raised" type="button" ng-click="appendDigit(5)">5</md-button>
        <md-button class="md-raised" type="button" ng-click="appendDigit(6)">6</md-button>
    </div>
    <div class="numpad-row">
        <md-button class="md-raised" type="button" ng-click="appendDigit(7)">7</md-button>
        <md-button class="md-raised" type="button" ng-click="appendDigit(8)">8</md-button>
        <md-button class="md-raised" type="button" ng-click="appendDigit(9)">9</md-button>
    </div>
    <div class="numpad-row">
        <md-button class="md-raised" type="button" ng-click="appendDigit(0)">0</md-button>
        <md-button class="md-raised backspace" type="button" aria-label="backspace" ng-click="appendDigit(null)">
            <span class="fa fa-arrow-left" />
        </md-button>
    </div>
</div>