<div class="stats-page" ng-cloak layout="row">
    <div layout="column">
        
        
        <div>
            <div layout="column">
                <transaction-period-filter list="transactions"></transaction-period-filter>
            </div>     
            <div ng-show="transactions.length < 1 && transactions.$pending.length < 1">
                <span>There is nothing to show, at least in this month.</span>
<!--                <span ng-show="type === 'out'">Here will be expences statistics. When you log some expences.</span>-->
<!--                <span ng-show="type === 'in'">Here will be incomes statistics. When you log some incomes.</span>-->
            </div>    

            <md-tabs  md-border-bottom ng-show="transactions.length > 0">
                <md-tab label="<span class='fa fa-pie-chart'></span>">
                    <md-content class="md-padding">
                         <highchart id="stats-pie-chart" config="pieChartConfig"></highchart>
                    </md-content>
                </md-tab>        
                <md-tab label="<span class='fa fa-bar-chart'></span>">
                    <md-content class="md-padding">
                        <highchart id="stats-column-chart" config="columnChartConfig"></highchart>
                    </md-content>
                </md-tab>
            </md-tabs>


            <div class="tags">
                <span class="tag"
                      ng-repeat="tag in tags | pick: 'sum > 0'">
                    <md-checkbox ng-model="tag.enabled" 
                                 ng-change="toggleTag(tag)" 
                                 class="md-primary" 
                                 aria-label="Toggle {{::tag.text}}">
                      {{::tag.text}} ({{::tag.sum}})
                    </md-checkbox>         
        <!--            <span class="passive">{{::tag.text}} ({{::tag.sum}})</span>-->
                </span>

            </div>
        </div>

    </div>
</div>