<form  name="loginform"  ng-submit="login()">

<div layout="row">
    <div flex-gt-md="50" flex-gt-sm="75" flex-sm>


            <div layout="row" layout-sm="column">
                <md-input-container>
                    <label>Username</label>
                    <input ng-model="user.username" type="text"  required />
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="user.password" type="password" required />
                </md-input-container>
            </div>            

            <div layout="row" style="font-size: 0.8rem; margin-top: -1.4rem; opacity: 0.5; font-style: italic;">
                <p>You can also enter demo/demo as as login/password to log in as read-only demo user.</p>
            </div>
        
        
            <div layout="row" style="margin: 0 0 1rem 0">
                <md-checkbox style="margin-lefT: 0; margin-top: 0;" ng-model="user.rememberme" class="md-primary" aria-label="User is staff">Remember me</md-checkbox>
            </div>
        
            
    </div>
    

    
</div>

<div layout="row" ng-show="error" style="margin: -1rem 0 1rem 0;">
    <div class="error">{{error}}</div>
</div>

<md-content layout="row">
    <md-divider></md-divider>
    <md-button ng-click="save()" 
               ng-disabled="loginform.$invalid"
               class="md-primary md-raised">
        <span spinner-when="is.saving">Log in</span>
    </md-button>
    
    <md-button ui-sref="public.reg" class="">...or you can register</md-button>    
    
    
</md-content>



</form>    