<form  name="regform" class="regform" ng-submit="submit()">

<div layout="row">
    <div  flex-sm="100" flex-gt-sm="70" flex-gt-md="40" flex-lg="30">
        <div layout="column">
            <md-input-container>
                <label>Username</label>
                <input name="reg-username" ng-model="user.username" type="text" required/>
                <interactive-hint watch="user.username" execute="checkUsername"></interactive-hint>
<!--                <span class="interactive-hint">Username is already taken</span>-->
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input name="reg-password" ng-model="user.password" type="password" required/>
            </md-input-container>
        </div>
            <div>
                <div class="error">
                    {{error}}
                </div>
            </div>

<!--    <md-divider></md-divider>-->

            <div layout="row">
                <md-button ng-click="save()" 
                           ng-disabled="regform.$invalid"
                           class="md-primary md-raised">
                    <span spinner-when="is.saving">Register</span>
                </md-button>
                <md-button ui-sref="public.login" class="">...or log in</md-button>
            </div>
    </div>

    
    
</div>





</form>    