.time-date button {
/*    min-width: auto;*/
/*    min-height: auto;*/
}

md-input-container .interactive-hint {
 bottom: -1.6rem;
    font-size: 0.7rem;
    left: 0.3rem;
    min-height: 3rem;
    min-width: 4rem;
    overflow: hidden;
    position: absolute;
}

md-input-container .interactive-hint.ok {
    color: green;
}
md-input-container .interactive-hint.error {
    color: red;
}

md-input-container .interactive-hint .fa {
    position: absolute;
    lefT: 0;
    top: 0;
    font-size: 1.2rem;
    display: none;
}

md-input-container .interactive-hint.is-loading .text {
    display: none;
}
md-input-container .interactive-hint.is-loading .fa {
    display: inline-block;
}

body p {
    margin-top: 0;
    line-height: 140%;
}
.buttons button {
    margin-right: 1em;
}

.md-button .fa {
    font-size: 1.4rem;
    display: block;
}

.md-fab .fa {
    font-size: 2rem;
    line-height: 3.5rem;
    display: block;
}


.round {
    border-radius: 100px;
}


button .spinner {
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

button .spinner .fa {
    line-height: 150%;
}

.lb-table {
    border-collapse: collapse;
}
.lb-table th, .lb-table thead {
    font-weight: bold;
    background-color: rgba(96, 125, 139, 0.4);
}
.lb-table td, .lb-table th {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #d3d3d3;
}
.lb-table tbody td {
}
.lb-table .odd {
    background-color: rgba(96, 125, 139, 0.05);
}
.lb-table md-select {
    margin: 0;
}


.numpad {
    float: left;
}

.numpad .numpad-row {
    margin-bottom: 3px;
}

.numpad button {
    min-width: 2rem;
    margin: 0.1rem 0.2rem;
}
.numpad .backspace {

}

.numpad .backspace .fa {
    font-size: 0.7em;
    top: -0.2em;
    position: relative;

}


/*--------------------*/
.stats-page {
}

.stats-page {
}

.stats-page .tags {
    margin-top: 1rem;
}

.stats-page .tag {
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    padding: 0.5rem 0.7rem;
    background: rgba(100, 100, 100, 0.1);
    margin: 0 1rem 0.5rem 0;
    text-transform: uppercase;
}


.stats-page .tag.disabled {
    cursor: no-drop;
    opacity: 0.5;
}

.stats-page .tag .passive,
.stats-page .tag.disabled md-checkbox {
    display: none;
}
.stats-page .tag.disabled .passive {
    display: block;
}

.stats-page .tag .off{
}

.stats-page .tag md-checkbox {
    display: inline-block;
    margin: 0;
    text-decoration: uppercase;
}
.stats-page {
}


.stats-page {
}
/*--------------------*/
.tm-table {
}

.tm-table td, .tm-table th {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #F4F4F4;
}

.tm-table td:first-child {
    padding-left: 0;
}
.tm-table td:last-child {
    padding-right: 0;
}

.tm-table .md-button {
    min-width: auto;
}
/*--------------------*/
.error {

    color: #B20000;
}
/*--------------------*/

.note {
    margin: 1rem 0;
    font-size: 80%;
    font-style: italic;
    opacity: 0.7;
}

/*--------------------*/
/*--------------------*/
/*--------------------*/
/*--------------------*/
/*--------------------*/

/*--------------------*/
/*--------------------*/
/*--------------------*/
/*--------------------*/
/*--------------------*/
/*--------------------*/
/*--------------------*/
/*--------------------*/
/*--------------------*/