li[md-ink-ripple] {
    position: relative;
}


.md-fab.rotate:hover .fa-box {
    transform: rotate(180deg);
     transition-duration: 0.5s;
}


md-input-container > .fa-box {
    left: 2px;
    position: absolute;
    bottom: 30px;
    font-size: 1.6rem;
    text-align: center;
    width: 2rem;
}

md-input-container > .fa-box + label,
md-input-container > .fa-box + label + input {
    margin-left: 56px;
    margin-left: 40px;
}


button .fa-spin, a .fa-spin {
/*   left: 0.45rem;*/
    left: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0.5rem;    
    opacity: 0;
}

md-tab-item .fa {
    font-size: 1.6rem;
}

.md-tile-left button.md-fab {
    margin-right: 0.6rem;
    position: relative;
    top: -10px;
}

md-list .md-tile-left {
    min-width: 2rem;
    margin-right: 0;
/*    position: relative;*/
/*    top: -2px;*/
/*    text-align: center;*/
}


md-tab-label .fa {
    font-size: 1.8em;
}