.tags-list {

}


.tags-list .text-widget {
    min-width: 15em;
}

.tags-list md-input-container {
    padding-left: 0;
    padding-bottom: 0;
    overflow: hidden;
}

.tags-list md-input-container input {
    padding-left: 0;
}

.tags-list .edit-mode .fa-check,
.tags-list .edit-mode .text-input {
    display: block;
}

.tags-list .edit-mode .fa-pencil,
.tags-list .text-input,
.tags-list .fa-check,
.tags-list .edit-mode .text-display {
    display: none;
}

/*-----------------*/
.transactions-list {
}

.transactions-list .md-title {
    margin: 0 0 0 0.5em;
}

.transactions-list .md-title .sum {
    float: right;
}

.transactions-list .md-title .sum .fa{
    margin-right: 5px;
}
.transactions-list md-card {
    cursor: pointer;
}

.transactions-list ul {
    margin-top: 1em;
    display: none;
}

.transactions-list .open ul {
    display: block;
}

.transactions-list ul li {
    margin-bottom: 0.5em;
    color: #CECECE;
}

.transactions-list ul a {
    text-decoration: none;
}
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
