.regform md-input-container {
    overflow: hidden;
}

.transaction-period-filter,
.stats-page .transaction-period-filter {
    border: 1px solid silver;
    padding: 0.5em;
    border-radius: 5px;
    margin: 0.3rem 0 1rem 0;
    font-size: 0.8rem;
}

.transactions-list .transaction-period-filter {
/*    float: right;*/
    margin-lefT: 1rem;
}

.transaction-period-filter button {
    margin: 0;
}

.transaction-period-filter md-select {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.tags-list {

}


.tags-list .text-widget {
    min-width: 15em;
}

.tags-list md-input-container {
    padding-left: 0;
    padding-bottom: 0;
    overflow: hidden;
}

.tags-list md-input-container input {
    padding-left: 0;
}

.tags-list .edit-mode .fa-check,
.tags-list .edit-mode .text-input {
    display: block;
}

.tags-list .edit-mode .fa-pencil,
.tags-list .text-input,
.tags-list .fa-check,
.tags-list .edit-mode .text-display {
    display: none;
}

/*-----------------*/
.transactions-list {
}

.transactions-list .md-title {
    margin: 0 0 0 0.5em;
}

.transactions-list .md-title .sum {
    float: right;
}

.transactions-list .md-title .sum .fa{
    margin-right: 5px;
}
.transactions-list md-card {
    cursor: pointer;
}

.transactions-list ul {
    margin-top: 1em;
    display: none;
}

.transactions-list .open ul {
    display: block;
}

.transactions-list ul li {
    margin-bottom: 0.5em;
    color: #CECECE;
}

.transactions-list ul a {
    text-decoration: none;
}
/*-----------------*/
.transaction-edit {
}
.transaction-edit .sum-input {
    width: 6em;
    margin-right: 3rem;
}
.transaction-edit .date-input {
    width: 21em;
    padding-top: 1.2rem;
}

.transaction-edit .date-input .time-date {
    margin-top: 1rem;
    width: 21rem;
    padding: 0 1rem;
    background: #F9F9F9;
    border-radius: 10px;
}
.transaction-edit .date-input .time-date input {
    background: none;
}
.transaction-edit .date-input .time-date .slider {
    width: 100%;
}
.transaction-edit .date-input .time-date.date-only > .control > .slider > .date-control {
    width: 100%;
    padding: 0;
    height: auto;
    overflow: hidden;
}
.transaction-edit .date-input .time-date .control {
    width: 100%;
    height: 21rem;
    overflow: hidden;
}

.transaction-edit .date-input .time-date > .control > .slider > .date-control > .headers {
    float: left;
    width: 100%;
    padding: 0;
}

.transaction-edit .date-input .time-date > .control > .slider > .date-control > .days {
    padding: 0;
}

.transaction-edit .date-input .time-date .buttons {
    padding-right: 0;
    font-size: 0.9em;
}

.transaction-edit .date-input .time-date .display,
.transaction-edit .date-input .time-date .switch-control, 
.transaction-edit .date-input .time-date .time-control {
    display: none;
}
.transaction-edit {
}
.transaction-edit {
}
.transaction-edit {
}
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
