body {
    font-family: 'open sans';
}
.sidebar-switch {
    margin: 0 10px 0 -6px;
}


.site-sidenav .navlinks {
    text-align: left;
    padding: 0;
    margin: 0;
}

.site-sidenav .navlinks li {
    list-style-type: none;
}


.site-sidenav .navlinks li .fa {
    font-size: 1.8rem;
    width: 1.4em;
}

.site-sidenav .navlinks li .fa-money {
    font-size: 1.6rem;
}
.site-sidenav .navlinks a {
    padding: 1em 2em;
    display: block;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #D3D3D3;
}

.site-sidenav .navlinks a:hover {
    
    background: #F4F4F4;
}

.site-sidenav .navlinks .active {
/*    color: #607D8B;*/
    background: rgba(96, 125, 140, 0.1);
}

md-toolbar .current-user {

}

md-toolbar .current-user .fa-user {
    position: relative;
    top: -0.1em;
    margin-right: 0.2em;

}


h1, h2, h3 {
    font-weight: normal;
    font-family: roboto slab;
}